.footer {
  padding-bottom: 24px;

  @include media-tablet {
    padding-bottom: 36px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-list {
  @include ul-reset;

  display: flex;
}

.footer__social-item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }

  @include media-tablet {
    margin-right: 16px;
  }
}

.footer__social-item a {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: cover;

  @include media-tablet {
    width: 36px;
    height: 36px;
  }
}

.footer__ask-question {
  @include text-caption;

  position: relative;
  color: $gray;
  border-bottom: 1px dashed $gray;

  &::before {
    content: "";
    position: absolute;
  }

  &:hover,
  &:focus {
    padding-left: 8px;
    color: $orange;
    border-bottom: 1px dashed $orange;

    &::before {
      content: "?";
      left: 0;
    }
  }

  @include media-tablet {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
      padding-left: 10px;
    }
  }
}

.footer__social-item--instagram a {
  background-image: url("../img/instagram.svg");
}

.webp .footer__social-item--instagram a {
  &:hover,
  &:focus {
    background-image: url("../img/instagram-hover.webp");
  }
}

.no-webp .footer__social-item--instagram a {
  &:hover,
  &:focus {
    background-image: url("../img/instagram-hover.png");
  }
}

.footer__social-item--vk a {
  background-image: url("../img/vk.svg");

  &:hover,
  &:focus {
    background-image: url("../img/vk-hover.svg");
  }
}
