.main-nav {
  display: flex;

  @include nav-header-desktop;
}

.main-nav__logo {
  margin-right: 11%;
}

.main-nav__link-list {
  @include ul-reset();

  display: flex;
  margin-left: auto;
  justify-content: space-between;
  padding-top: 17px;
  width: 41%;
}

.main-nav__link-item {
  a {
    text-transform: uppercase;
    color: $light-gray;
  }
}

.main-nav__contacts {
  display: flex;
  padding-top: 17px;
  margin-left: auto;
  margin-right: 7px;
}

.main-nav__contacts-phone {
  color: $light-gray;
  font-feature-settings: "pnum" on, "lnum" on;
}

.main-nav__contacts-city {
  position: relative;
  margin-right: 25px;
  padding-left: 24px;
  color: $orange;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 16px;
    height: 21px;
    background-image: url("../img/pointer.svg");
  }
}
