.main__container {
  padding-left: 10%;
}

.main__title {
  margin: 0;
  margin-bottom: 30px;
  width: 44%;
  font-weight: 800;
  font-size: 64px;
  line-height: auto;
  color: $white;
}

.main__about {
  margin: 0;
  margin-bottom: 68px;
  width: 40%;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0;
}
