.main-nav {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 117%;
  font-weight: 600;
  letter-spacing: 0.03em;

  @include media-tablet {
    flex-direction: column;
  }
}

.main-nav__logo {
  display: block;
  width: 134px;
  height: 52px;

  @include media-mobile {
    width: 96px;
    height: 36px;
  }
}

.main-nav__logo-wrapper {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;
  }
}

.main-nav__menu {
  display: flex;
  justify-content: space-between;
  width: 70.5%;

  @include media-tablet {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.main-nav__menu--close {
  @include media-tablet {
    display: none;
  }
}

.main-nav__link-list {
  @include ul-reset;

  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  width: 58%;

  @include media-tablet {
    flex-direction: column;
    align-items: center;
    order: 2;
  }
}

.main-nav__link-item {
  a {
    text-transform: uppercase;
    color: $light-gray;

    &:hover,
    &:focus {
      color: $white;
    }

    @include media-tablet {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 18px;
    }
  }

  @include media-tablet {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main-nav__link-item--active {
  a {
    color: $orange;
  }
}

.main-nav__contacts {
  display: flex;
  padding-top: 17px;
  margin-left: auto;
  margin-right: 7px;

  @include media-tablet {
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 40px;
    margin-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.main-nav__contacts-phone {
  color: $light-gray;
  margin-bottom: 16px;

  @include media-tablet {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    color: $white;
  }
}

.main-nav__contacts-city {
  position: relative;
  box-sizing: border-box;
  min-height: 16px;
  align-self: baseline;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-left: 24px;
  color: $orange;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: -24px;
    top: -2px;
    width: 16px;
    height: 21px;
    background-image: url("../img/pointer.svg");
  }

  &:hover,
  &:focus {
    border-bottom: 1px dashed $orange;
  }

  @include media-tablet {
    margin-right: 0;
    margin-bottom: 20px;
    align-self: center;
  }
}


.main-nav__menu-toggle {
  display: none;
  position: relative;
  margin-top: 10px;
  padding: 0;
  padding-right: 29px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: $light-gray;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;

    &::after {
      opacity: 0.5;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 14px;
    background-image: url("../img/burger.svg");
    background-repeat: no-repeat;
    transition: background-image 0.2s ease-in-out;
  }

  @include media-tablet {
    display: block;
  }
}

.main-nav__menu-toggle--opened::after {
  width: 16px;
  height: 16px;
  background-image: url("../img/close.svg");
}
