.main h1 {
  margin: 0;
  margin-left: 8%;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  color: $white;

  @include media-mobile {
    margin-left: 0;
    font-size: 36px;
    line-height: 39px;
  }
}

.main--main-page {
  margin-top: 112px;
  margin-bottom: auto;

  @include media-mobile {
    margin-top: auto;
    margin-bottom: unset;
  }
}

.main--main-page .container {
  @include media-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main--main-page h1 {
  margin-bottom: 30px;
  width: 544px;

  @include media-mobile {
    width: 310px;
    margin-bottom: 34px;
    text-align: center;
  }
}

.main p {
  margin: 0;
  margin-left: 8%;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0;
}

.main--main-page p {
  margin-bottom: 68px;
  width: 468px;

  @include media-mobile {
    display: none;
  }
}

.main__pick-quest {
  margin-left: 8%;

  @include media-mobile {
    margin-left: 0;
    margin-bottom: 64px;
  }
}

.main--quests-page {
  margin-top: 44px;
  margin-bottom: auto;

  @include media-tablet {
    margin-top: 0;
  }
}

.main--quests-page > div > span {
  margin-left: 8%;
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $orange;

  @include media-tablet {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.main--quests-page h1 {
  margin-bottom: 52px;

  @include media-tablet {
    text-align: left;
    margin-bottom: 41px;
  }
}

.main__all-quests-link {
  display: none;
  padding-left: 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: $gray;
  text-transform: uppercase;

  @include media-tablet {
    display: block;
    margin-bottom: 286px;
    margin-top: 6px;
  }

  svg {
    margin-right: 8px;
  }
}

.main--order-page {
  width: 100%;
  box-sizing: border-box;
  padding-left: 106px;
  padding-right: 103px;
  margin: 61px auto auto auto;

  @include media-tablet {
    margin-top: 54px;
    padding-left: 0;
    padding-right: 0;
  }
}


.main--close {
  display: none;
}
