.main-page {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page__header {
  margin-bottom: 104px;
}

.main-page__main {
  margin-left: 10%;
}
