.order {
  @include media-tablet {
    display: flex;
    flex-direction: column;
  }
}

.order__description {
  display: block;
  margin-left: 5px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $orange;

  @include media-tablet {
    margin-left: 0;
    margin-bottom: 9px;
  }
}

.order h1 {
  display: inline-block;
  margin-left: 0;
  margin-right: 80px;
  font-size: 92px;
  line-height: 87px;
  letter-spacing: -0.03em;
  font-weight: 900;
  text-transform: uppercase;

  @include media-tablet {
    display: block;
    margin-bottom: 12px;
    letter-spacing: 0;
  }

  @include media-mobile {
    font-size: 42px;
    line-height: 46px;
  }
}

.order__picked-quest {
  order: 2;
  display: inline-flex;
  justify-content: space-between;
  width: 38%;
  vertical-align: text-bottom;

  @include media-tablet {
    display: flex;
  }

  @include media-mobile {
    flex-direction: column;
    margin-bottom: 40px;
    height: auto;
    width: 100%;
  }
}

.order__picked-quest--close {
  display: none;
}

.order__picked-quest button {
  position: relative;
  display: block;
  align-self: flex-end;
  padding: 0;
  padding-right: 13px;
  padding-bottom: 3px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $orange;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: $white;

  @include media-mobile {
    align-self: flex-start;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 3.5px 0 3.5px 5px;
    border-color: transparent transparent transparent $white;
  }
}

.order__picked-quest p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;

  @include media-mobile {
    margin-bottom: 24px;
  }
}

.order__picked-quest-title,
.order__picked-quest-date {
  display: block;

  @include media-mobile {
    display: inline;
  }
}

.order__picked-quest-price-wrapper {
  @include media-mobile {
    display: block;
  }
}

.order hr {
  display: block;
  margin: 0;
  margin-bottom: 27px;
  margin-top: 15px;
  opacity: 0.25;
  color: $gray;
}

.order__date-picker {
  display: flex;
  align-items: flex-end;
  margin-left: 46px;
  margin-bottom: 27px;
  min-height: 40px;

  @include media-tablet {
    margin-left: 0;
  }

  time {
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0;
    color: $white;
  }
}

.order__date-picker--close time {
  display: none;
}

.order__date-pick {
  position: relative;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-right: 24px;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0;
  border-bottom: 2px solid $orange;
  color: $white;

  @include media-tablet {
    margin-right: 14px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 3.5px 0 3.5px 5px;
    border-color: transparent transparent transparent $white;
  }
}

.order__prompt {
  @include ul-reset;

  display: flex;
  margin-left: 46px;
  margin-bottom: 48px;

  @include media-tablet {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }
}

.order__prompt--close {
  display: none;
}

.order__prompt-item {
  display: flex;
  align-items: center;
  padding-left: 18px;
  margin-right: 26px;
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
}

.order-inputs-wrapper {
  display: grid;
  width: 62%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 24px;
  margin-left: 46px;
  margin-bottom: 40px;

  @include media-tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 35px;
  }

  @include media-mobile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.order-inputs-wrapper--close {
  display: none;
}

.order__prompt-item--empty::before {
  border: 2px solid $gray;
}

.order__prompt-item--busy::before {
  background: $busy-order-time;
}

.order__prompt-item--checked::before {
  background: $selected-order-time;
}

.order__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__input-wrapper label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  width: 110px;
  height: 38px;
  min-height: 38px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 0.05em;
  border: 2px solid $gray;
  border-radius: 65px;
  user-select: none;

  &:hover,
  &:focus {
    border-color: $orange;
  }
}

.order__input-wrapper input:focus + label,
.order__input-wrapper input:hover + label {
  border-color: $orange;
}

.order__input-wrapper input:checked + label {
  border: none;
  background: $selected-order-time;
}

.order__input-wrapper input:disabled + label {
  border: none;
  background: $busy-order-time;
}

.order__input-wrapper span {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
}
