.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page--main {
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  @include media-mobile {
    .page__footer {
      display: none;
    }
  }
}

.page--quests {
  background: $background-gradient;
}

.page--menu-open {
  background: linear-gradient(170.74deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);


  .page__header {
    margin-bottom: 0;
  }

  .page__footer {
    display: block;
  }
}
