.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-tablet {
    .page__footer {
      display: none;
    }
  }
}

.page--main {
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.page--quests {
  background: $background-gradient;

  .page__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.page--menu-open {
  background: linear-gradient(170.74deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);


  .page__header {
    margin-bottom: 0;
  }

  .page__footer {
    display: block;
  }
}


.page--maniac {
  background-image: url("../img/maniac-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  @include media-tablet {
    background: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
      url("../img/maniac-bg.jpg");
    background-size: cover;
    background-position: 20% center;
  }
}

.page--old-mansion {
  background-image: url("../img/old-mansion-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  @include media-tablet {
    background: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
      url("../img/old-mansion-bg.jpg");
    background-size: cover;
    background-position: 20% center;
  }
}
