html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  font-family: $main-font;
  background: $background-gradient;
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  font-feature-settings: "pnum" on, "lnum" on;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1304px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;

  @include media-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn {
  @include btn-caps;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 250px;
  min-height: 65px;
  border: none;
  border-radius: 65px;
  background-color: $orange;
  line-height: 65px;
  color: $white;

  &:hover {
    background-color: $light-orange;
  }

  @include media-mobile {
    width: 185px;
    min-height: 47px;
    line-height: 47px;
  }
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  max-height: 100vh;
  overflow: hidden;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
