$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "Raleway", "Arial", sans-serif;

$light-gray: #f0f0f0;
$gray: #e5e5e5;
$white: #ffffff;
$gray: #c6c4c2;
$green: #13ba19;
$orange: #f2890f;
$light-orange: #f39425;
$color-overlay: rgba(61, 51, 51, 0.96);
$background-gradient: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
$quest-background: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%);
$selected-order-time: linear-gradient(180deg, #2cdb52 0%, #13ba19 100%);
$busy-order-time: linear-gradient(158.6deg, #f2890f 9.78%, #b8600f 79.81%);
