$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "Raleway", "Arial", sans-serif;

$light-gray: #f0f0f0;
$gray: #e5e5e5;
$white: #ffffff;
$gray: #c6c4c2;
$green: #13ba19;
$orange: #f2890f;
$light-orange: #f39425;
$color-overlay: rgba(61, 51, 51, 0.96);
$background-gradient: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
