$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "Raleway", "Arial", sans-serif;

$light-gray: #f0f0f0;
$white: #ffffff;
$gray: #c6c4c2;
$orange: #f2890f;
